extends layout
block content
  div.jumbotron
    h1 About App
    h2 Node.js
    div.panel
      div.panel-body Node.js® is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
    h2 Express
    div.panel
      div.panel-body Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
    h2 Passport
    div.panel
      div.panel-body Passport is authentication middleware for Node.js. Extremely flexible and modular, Passport can be unobtrusively dropped in to any Express-based web application. A comprehensive set of strategies support authentication using a username and password, Facebook, Twitter, and more.
    h2 MongoDB
    div.panel
      div.panel-body MongoDB (from "humongous") is an open-source document database. Classified as a NoSQL database, MongoDB eschews the traditional table-based relational database structure in favor of JSON-like documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in certain types of applications easier and faster. Released under a combination of the GNU Affero General Public License and the Apache License, MongoDB is free and open-source software.
    h2 Mongoose
    div.panel
      div.panel-body Mongoose is a MongoDB object modeling tool designed to work in an asynchronous environment. Mongoose provides a straight-forward, schema-based solution to modeling your application data and includes built-in type casting, validation, query building, business logic hooks and more, out of the box.


