extends layout
block content
block modal
  div.modal-dialog
    div.modal-content
      form.form-horizontal(role="form" action="/signup" method="post")
        div.modal-header
          h4.modal-title Please sign up
        div.modal-body
          div.form-group
            label.col-sm-3.control-label(for="username") Username:
            div.col-sm-9
              input#username.form-control(type="text" name="username" value= messages.username placeholder="Enter desired username")
          div.form-group
            label.col-sm-3.control-label(for="email") Email address:
            div.col-sm-9
              input#email.form-control(type="text" name="email" value= messages.email placeholder="Enter your email")
          div.form-group
            label.col-sm-3.control-label(for="password") Password:
            div.col-sm-9
              input#password.form-control(type="password" name="password" placeholder="Create password")
          div.form-group
            div.col-sm-offset-3.col-sm-9
              input.form-control(type="password" name="repassword" placeholder="Confirm password")
          if messages.errors
            div.alert.alert-warning.alert-dismissible.fade.in
              button.close(type="button" data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only Close
              h4 !{messages.errors}
              span !{messages.error}
        div.modal-footer
          button.btn.btn-success(type="submit") Create Your Account